<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Here's a site made by Anthony Wiggin.  Feel free to use it, and enjoy a picture of my lovely cat.</p>
        <img src="/images/Kotenok.jpg" alt="picture of my cat" class="portrait">
    </div>

    {{>footer}}
</body>
</html>